<ion-view view-title="Clients ({{clientsCtrl.clientsFilter.length}} / {{clientsCtrl.clients.length}})"
          ng-click="clientsCtrl.queryClear()">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon"
                ng-click="clientsCtrl.showAdd()">
        </button>
    </ion-nav-buttons>

    <!--
        <ion-nav-buttons side="secondary">
            <button class="button button-icon ion-plus-circled"
                    ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-plus-outline"
                    ng-click="clientsCtrl.addConfirm()">
            </button>
        </ion-nav-buttons>
    -->

    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search"
                   ng-model="clientsCtrl.query.name"
                   ng-change="clientsCtrl.queryChanged()"
                   placeholder="Search">
            <i class="ion-close-round" ng-show="clientsCtrl.clear"></i>
        </label>
    </div>

    <ion-content class="has-subheader">
        <ion-refresher on-refresh="clientsCtrl.doRefresh()"></ion-refresher>

        <ion-list>
            <ion-item
                    collection-repeat="client in (clientsCtrl.clientsFilter = (clientsCtrl.clients | filter:clientsCtrl.query))"
                    type="item-text-wrap" ng-click="clientsCtrl.clientDetails(client)">
                <h2><strong>{{client.name}}</strong></h2>

                <ion-option-button class="button-assertive" ng-click="clientsCtrl.showConfirm(client)">
                    Delete
                </ion-option-button>
                <!--
                <ion-option-button ng-click="remove(client)"><i class="ion-edit"></i></ion-option-button>
                <ion-option-button ng-click="remove(client)"><i class="ion-close-circled"></i></ion-option-button>
                -->
            </ion-item>
        </ion-list>
    </ion-content>

    <div ng-if="clientsCtrl.addShowed" class="badge-div" ng-click="clientsCtrl.clientAdd()">
        <span class="badge-icon ion-plus"></span>
    </div>

</ion-view>
