/* Empty. Add your own CSS if you like */

body {
    cursor: url('http://ionicframework.com/img/finger.png');
}

.star > .item-content {
    background-color: #EEE8D6 !important;
}

.splash {
    background: url(../img/skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.branding {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.tagline {
    font-size: 1.4rem;
}

.branding p {
    margin-top: 10px;
    font-size: 1rem;
}

.item-divider {
    background-color: #EEE8D6;
}

.bar-positive, .tabs-positive > .tabs {
    background-color: #417D9A !important;
    border-color: #417D9A;
}

.item-thumbnail-left img {
    border-radius: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #417D9A;
}

.dayhighlight {
    background-color: #9EC6DE;
    border-top: 20px solid #417D9A;
}

.dayhighlight h2 {
    color: #417D9A;
    font-size: 2rem;
    font-weight: 200;
}

.platform-android .bar-subheader {
    top: 93px;
}

.valid {
    color: red;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 5px;
    left: 3px;
    margin-bottom: 10px;
}

.fix {
    top: -5px;
    margin: 10px;
}

.logo {
    width: 150px;
    height: 150px;
	border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.badge-div {
    position: fixed;
    /*background-color: #ef473a;*/
    background-color: #417D9A;
    color: #ffffff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 80px;
    font-size: 35px;
    z-index: 10;
    text-align: center;
}

.badge-icon:before {
    line-height: 50px;
}

.header-error {
    position: fixed;
    top: 20%;
    height: 85px;
    width: 60%;
    right: 20px;
    padding: 20px;
    font-size: 20px;
    opacity: .9;
    color: red;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0.15em 0.15em 0.15em;
    z-index: 10;
}