<ion-view view-title="Welcome" name="login-view" hide-nav-bar="false">
    <ion-content class="padding">

        <div class="bar bar-header bar-positive">
            <h1 class="title">Login</h1>
        </div>
        <h1 class="title">Submit</h1>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-positive" style="background-color: #417D9A !important;"
                ng-click="login()">Submit
        </button>

    </ion-content>
</ion-view>