<ion-view view-title="Add new item">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon"
                ng-click="userAddCtrl.showSubmit()">
        </button>
    </ion-nav-buttons>


    <ion-content class="padding">

        <h2 align="center">Add new item</h2>

        <form ng-submit="userAddCtrl.userSubmit()" novalidate name="userAddCtrl.form" autocomplete="off">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label"><b>Name:</b></span>
                    <input type="text"
                           ng-model="userAddCtrl.name"
                           placeholder="Name"
                           name="name"
                           ng-change="userAddCtrl.change()" required>
                </label>

                <div ng-if="userAddCtrl.form.$submitted">
                    <div ng-show="userAddCtrl.form.name.$error.required" class="valid">Value required</div>
                </div>

                <label class="item item-input">
                    <span class="input-label"><b>Password:</b></span>
                    <input type="text"
                           ng-model="userAddCtrl.pass"
                           placeholder="Password"
                           name="pass"
                           ng-change="userAddCtrl.change()" required>
                </label>

                <div ng-if="userAddCtrl.form.$submitted">
                    <div ng-show="userAddCtrl.form.pass.$error.required" class="valid">Value required</div>
                </div>

                <label class="item item-input">
                    <span class="input-label"><b>Description:</b></span>
                    <textarea rows="1"
                              ng-model="userAddCtrl.description"
                              placeholder="Description"
                              name="description"
                              ng-change="userAddCtrl.change()" required>
                    </textarea>
                </label>

                <div ng-if="userAddCtrl.form.$submitted">
                    <div ng-show="userAddCtrl.form.description.$error.required" class="valid">Value required</div>
                </div>
            </div>

            <div ng-show="userAddCtrl.error" class="valid fix">
                Error. Wrong name or password
            </div>
            <button type="submit" class="button button-block button-positive"
                    style="background-color: #417D9A !important;">
                <strong>Submit</strong>
            </button>
        </form>
    </ion-content>

</ion-view>
