<ion-view view-title="Search in collection">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <button class="button button-block button-positive" style="background-color: #417D9A !important;">
            <strong>Search by {{collectionSearchCtrl.search}}</strong>
        </button>

        <ion-toggle  ng-model="collectionSearchCtrl.finds" ng-change1="collectionSearchCtrl.toggleChanged()">
            Search by {{collectionSearchCtrl.search}}
        </ion-toggle>
        <!--
                <li class="item item-toggle">
                    Search by {{phonesSearchCtrl.search}}
                    <label class="toggle toggle-balanced active" ng-click="phonesSearchCtrl.toggleChanged()">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
        -->
        <form ng-submit="collectionSearchCtrl.doSearch()" novalidate name="collectionSearchCtrl.form" autocomplete="off">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Search {{collectionSearchCtrl.search}}" ng-model="collectionSearchCtrl.name" name="name" ng-change="collectionSearchCtrl.change()" required>
                </label>

                <div ng-if="collectionSearchCtrl.form.$submitted">
                    <div ng-show="collectionSearchCtrl.form.name.$error.required" class="valid">Value required</div>
                </div>
                <div ng-show="collectionSearchCtrl.minLengthError" class="valid">Min 3 symbols</div>
            </div>

            <button type="submit" class="button button-block button-positive" style="background-color: #417D9A !important;">
                <strong>Submit</strong>
            </button>
        </form>
    </ion-content>
</ion-view>